.card {
  position: relative;
  background-color: white;
  color: black;
  border-radius: 10px;
  overflow: hidden;
  border: none;
}

.card__button-trash {
  position: absolute;
  top: 18px;
  right: 15px;
  background: transparent url(../images/Trash.svg) center no-repeat;
  width: 18px;
  height: 19.3px;
  margin: 0;
  background-size: 19px 20px;
  border: none;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 25px 30px 25px 20px;
}

.card__title {
  margin: 0;
  padding: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__button {
  background: transparent url(../images/like-inactive.svg) center no-repeat;
  width: 21px;
  height: 18px;
  margin: 0;
  background-size: 21px 18px;
  border: none;
  flex-shrink: 0;
}

.card__button_active {
  background: transparent url(../images/like-active.svg) center no-repeat;
}

.card__button:hover {
  opacity: 0.5;
  transition: 0.5s ease;
  cursor: pointer;
}
