.header {
  padding: 0 19px;
  margin-top: 45px;
  border-bottom: solid;
  border-width: 1px;
  border-color: rgba(84, 84, 84, 0.7);
}

.header__logo {
  margin-bottom: 41px;
}

@media screen and (max-width: 620px) {
  .header {
    margin-top: 28px;
  }

  .header__logo {
    margin: 0 0 32px 8px;
    width: 126px;
    height: 24px;
  }
}
