.header {
  border-bottom: solid;
  border-width: 1px;
  border-color: rgba(84, 84, 84, 1);
  padding: 0;
  margin-top: 45px;
}

.header__logo {
  margin-bottom: 41px;
}

@media screen and (max-width: 620px) {
  .header {
    margin-top: 28px;
  }
  .header__logo {
    margin-left: 27px;
    margin-bottom: 32px;
    width: 126px;
    height: 24px;
  }
}
