.profile {
  display: flex;
  flex-wrap: nowrap;
  padding: 40px 0 51px;
  align-items: center;
  align-content: center;
  column-gap: 30px;
}

.profile__image {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
  background-position: center;
  flex-shrink: 0;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: 1fr auto;
}

.profile__title {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  grid-area: title;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile__description {
  margin: 0;
  padding: 0;
  grid-area: description;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile__edit-button {
  width: 24px;
  height: 24px;
  border: solid;
  color: rgba(255, 255, 255, 1);
  border-width: 1px;
  background: transparent url(../images/pencil.svg) center no-repeat;
  background-size: 10px 10px;
  grid-area: button;
  margin: 0 0 9px 18px;
  align-self: flex-end;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__add-button {
  background: transparent url(../images/cross.svg) center no-repeat;
  border: solid;
  border-width: 2px;
  border-radius: 2px;
  color: rgba(255, 255, 255, 1);
  width: 150px;
  height: 50px;
  margin-left: auto;
  background-size: 22px 22px;
  flex-shrink: 0;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (min-width: 621px) and (max-width: 730px) {
  .profile__add-button {
    width: 125px;
  }

  .profile__title {
    font-size: 32px;
  }

  .profile__edit-button {
    width: 21px;
    height: 21px;
    background-size: 8.75px 8.75px;
    margin: 0 0 12px 12px;
  }

  .profile__description {
    font-size: 16px;
  }
}

@media screen and (max-width: 620px) {
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .profile__image {
    margin: 38.25px 0 26.25px;
  }

  .profile__info {
    position: relative;
  }

  .profile__title {
    text-align: center;
    margin-bottom: 14px;
    font-size: 22px;
    line-height: 27px;
  }

  .profile__description {
    text-align: center;
    width: 100%;
    font-size: 14px;
    line-height: 17px;
  }

  .profile__edit-button {
    position: absolute;
    top: 4px;
    left: 10px;
    width: 18px;
    height: 18px;
    margin: 0;
    background-size: 7.5px 7.5px;
  }

  .profile__add-button {
    width: 282px;
    margin: 36px 0;
  }
}
